.navbar table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.navbar table th {
    background-color: red;
    padding: 10px;
}

.headerbar {
    font-family: Arial;
    background-color: yellow;
}

.productTable table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.productTable table th {
    background-color: Green;
    padding: 10px;
}

.textArea {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.usrForm {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.error {
    color: #FF0000;
}