.navbar table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.navbar table th {
    background-color: #D5C7BC;
    padding: 10px;
}

.headerbar {
    font-family: Arial;
    background-color: #93B7BE;
    text-align: center;
    padding: 10px;
}

.productTable {
    text-align: center;
}

.productTable table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.productTable h2 {
    text-align: center;
}

.productTable table th {
    background-color: #F1FFFA;
    color: black;
    padding: 10px;
}

.textArea {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%
}

.textArea table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.textArea table th {
    background-color: #F1FFFA;
    color: black;
    padding: 10px;
}

.usrForm {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    color: black;
    padding: 40px;
    border: 1px solid black;
}

.error {
    color: #FF0000;
}

.success {
    color: limegreen;
}

body {
    background-color: #654F6F;
    color: white;
}

.usrLogin {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 7%;
    width: fit-content;
}